*{
    padding: 0px;
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.calculadora{
    background-color: white;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin;
    border-color: black;
}
.sr{
    padding: 0px 18px 18px 18px;
    
}
.sr button{
    width: 100%;
    background-color: rgb(128, 219, 143);
    color: #fff;
}
.teclas{
    display: flex;
}
.pantalla{
    padding: 18px 18px 0px 18px;
}
.numeros{
padding: 18px 9px 18px 18px;
}
.op button{
    border: none;
    background-color: rgba(30, 60,160, 0.12);
    transition: all 0.09s;
    width: 70px;
    height: 60px;
    padding: 10px 18px;
}
.op{
    padding: 18px 18px 18px 9px;
}
.op div{
    text-align: center;
}
.numeros div{
    text-align: center;
}
.numeros button{
    border: 0px;
    background-color: whitesmoke;
    transition: all 0.09s;
}

button{
    margin: 2px 0px;
    padding: 15px 24px;
    font-size: 25px;
}
#resultado{
background-color:cyan;
padding: 9px;
}